<p id="notice"><%= notice %></p>

<p>
  <strong>Resume:</strong>
  <%= @volunteer.resume_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @volunteer.organization %>
</p>

<p>
  <strong>Position:</strong>
  <%= @volunteer.position %>
</p>

<p>
  <strong>Website:</strong>
  <%= @volunteer.website %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @volunteer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @volunteer.end_date %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @volunteer.summary %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
