<p id="notice"><%= notice %></p>

<p>
  <strong>Resume:</strong>
  <%= @language.resume_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Fluency:</strong>
  <%= @language.fluency %>
</p>

<p>
  <strong>Order:</strong>
  <%= @language.order %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
