<p id="notice"><%= notice %></p>

<p>
  <strong>Resume:</strong>
  <%= @skill.resume_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @skill.url %>
</p>

<p>
  <strong>Level:</strong>
  <%= @skill.level %>
</p>

<p>
  <strong>Order:</strong>
  <%= @skill.order %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
