<p id="notice"><%= notice %></p>

<p>
  <strong>Resume:</strong>
  <%= @interest.resume_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interest.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @interest.order %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
