<% css_classes ||= "m-2"%>
<div class="card <%= css_classes %>">
  <% if project.image.attached? %>
    <%= image_tag project.image, class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="card-title"><%= project.name %></h3>
    </div>
    <h5 class="card-subtitle mb-2 text-muted"><%= project.summary %></h5>
    <p><%= project.description %></h1>
  </div>
</div>
