<p id="notice"><%= notice %></p>

<div class="card mt-2">
  <h1 class="card-header">Projects</h1>
  <div class="card-body">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-4 card">
          <% if project.image.attached? %>
            <%= image_tag project.image, class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
              <h5 class="card-title"><%= project.name %></h5>
              <p class="card-text"><%= project.summary %></p>
          </div>
          <a href="<%= project_path(project) %>" class="btn btn-primary">Read More</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
