<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @keyword.owner_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @keyword.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @keyword.order %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
