<p id="notice"><%= notice %></p>

<p>
  <strong>Education:</strong>
  <%= @course.education_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @course.order %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
