  <div class="row">
    <div class="card col-sm-4">
      <% if current_resume.picture.attached? %>
        <%= image_tag current_resume.picture, class: 'card-img-top' %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= current_resume.name %></h5>
        <small><%= current_resume.city %></span>, <abbr class="region" title="<%= current_resume.region %>"><%= current_resume.region_shorthand || current_resume.region %></abbr></small>
        <p class="card-text">
          <% if current_resume.email %>
            <div class="email"><a href="mailto:<%= current_resume.email %>"><%= current_resume.email %></a></div>
          <% end %>
        </p>
        <p class="card-text">
          <%= current_resume.summary %>
        </p>
        <div>
          <script src="https://liberapay.com/tsbarnes/widgets/button.js"></script>
          <noscript><a href="https://liberapay.com/tsbarnes/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
        </div>
        <div>
          <iframe src="https://github.com/sponsors/tsbarnes/button" title="Sponsor tsbarnes" height="35" width="116" style="border: 0;"></iframe>
        </div>
        <div>
          <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
          <script>
            kofiWidgetOverlay.draw('theabarnes', {
              'type': 'floating-chat',
              'floating-chat.donateButton.text': 'Tip Me',
              'floating-chat.donateButton.background-color': '#f45d22',
              'floating-chat.donateButton.text-color': '#fff'
            });
          </script>
        </div>
      </div>
      <div class="card-footer" role="group" aria-label="Social media links">
        <% for profile in current_resume.profiles %>
          <%= render profile %>
        <% end %>
      </div>
    </div>
    <div class="card col-sm-8">
      <h1 class="card-header">Projects</h1>
      <div class="card-body">
        <div class="row no-gutters">
          <% Project.latest.each do |project| %>
            <%= render project, css_classes: 'col-lg-4 col-md-6 flex-grow-1' %>
          <% end %>
        </div>
        <div class="row no-gutters">
          <%= link_to "See more...", projects_path, class: 'btn col-12 flex-grow-1' %>
        </div>
      </div>
    </div>
  </div>
