<p id="notice"><%= notice %></p>

<h1>Educations</h1>

<table>
  <thead>
    <tr>
      <th>Resume</th>
      <th>Institution</th>
      <th>Area</th>
      <th>School url</th>
      <th>Study type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Gpa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= education.resume_id %></td>
        <td><%= education.institution %></td>
        <td><%= education.area %></td>
        <td><%= education.school_url %></td>
        <td><%= education.study_type %></td>
        <td><%= education.start_date %></td>
        <td><%= education.end_date %></td>
        <td><%= education.gpa %></td>
        <td><%= link_to 'Show', education %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education', new_education_path %>
