<!-- Personal Contact Information in hCard markup --> 
<div id="contactinfo" class="vcard card m-2">
  <h2 class="card-header">Personal Info</h2>
  <div class="card-body">
    <h1 class="fn n card-title" id="name"><a class="url" href="<%= resume_path(@resume) %>" rel="me"><%= @resume.name %></a></h1>
    <div class="adr">
      <span class="locality"><%= @resume.city %></span>, <abbr class="region" title="<%= @resume.region %>"><%= @resume.region_shorthand || @resume.region %></abbr>
    </div>
    
    <% if @resume.email %>
      <div class="email"><a href="mailto:<%= @resume.email %>"><%= @resume.email %></a></div>
    <% end %>

    <p class="summary card-text">
      <%= raw @resume.summary %>
    </p>

  </div>
  <div class="card-footer bg-light" role="group" aria-label="Social media links">
    <% for profile in @resume.profiles %>
      <a href="<%= profile.url %>" class="btn col-sm-3 socicon-<%= profile.icon_name %>" title="<%= profile.network %>"></a>
    <% end %>
  </div>
</div>
<!-- End Personal Contact Information --> 

<!-- Begin Skills and Interests -->
<div class="card m-2">
  <h2 class="card-header">Skills</h2>
  <ul id="skill-list" class="list-group list-group-flush">
    <%= render @resume.skills %>
  </ul>
</div>

<div class="card m-2">
  <h2 class="card-header">Interests</h2>
  <ul id="interest-list" class="list-group list-group-flush">
    <%= render @resume.interests %>
  </ul>
</div>
<!-- End Skills and Interests -->

<!-- Begin Work Experience -->
<div class="card m-2">
  <h2 class="card-header">Experience</h2>
  <ul id="job-list" class="vcalendar list-group list-group-flush">
    <%= render @resume.works %>
  </ul>
</div>

<div class="card m-2">
  <h2 class="card-header">Volunteer Experience</h2>
  <ul id="job-list" class="vcalendar list-group list-group-flush">
    <%= render @resume.volunteers %>
  </ul>
</div>
<!-- End Work Experience -->

<!-- Begin Education -->
<div class="card m-2">
  <h2 class="card-header">Education</h2>
  <ul id="edu-list" class="vcalendar list-group list-group-flush">
    <%= render @resume.educations %>
  </ul>
</div>
<!-- End Education -->

<!-- Begin References -->
<div class="card m-2">
  <h2 class="card-header">References</h2>
  <ul id="reference-list" class="list-group list-group-flush">
    <%= render @resume.references %>
  </ul>
</div>
<!-- End References -->
