<!-- Personal Contact Information in hCard markup --> 
<div id="contactinfo" class="vcard card m-2">
  <h2 class="card-header">Personal Info</h2>
  <div class="card-body">
    <h1 class="fn n card-title" id="name"><a class="url" href="<%= resume_path(@resume) %>" rel="me"><%= @resume.name %></a></h1>
    <div class="adr">
      <span class="locality"><%= @resume.city %></span>, <abbr class="region" title="<%= @resume.region %>"><%= @resume.region_shorthand || @resume.region %></abbr>
    </div>
    
    <% if @resume.email %>
      <div class="email"><a href="mailto:<%= @resume.email %>"><%= @resume.email %></a></div>
    <% end %>

    <p class="summary card-text">
      <%= raw @resume.summary %>
    </p>

  </div>
  <div class="card-footer bg-light" role="group" aria-label="Social media links">
    <% for profile in @resume.profiles %>
      <a href="<%= profile.url %>" class="btn col-sm-3 socicon-<%= profile.icon_name %>" title="<%= profile.network %>"></a>
    <% end %>
  </div>
</div>
<!-- End Personal Contact Information --> 

<!-- Begin Skills and Interests -->
<div class="card m-2">
  <h2 class="card-header">Skills</h2>
  <ul id="skill-list" class="list-group list-group-flush">
    <% for skill in @resume.skills %>
      <li class="skill list-group-item"><span class="skill-title"><%= skill.name %>:&nbsp;</span>
        <% for k in skill.keywords %>
          <span class="keyword"><%= k.name %></span>&nbsp;
        <% end %>
      </li>
    <% end %> 
  </ul>
</div>
<!-- End Skills and Interests -->

<!-- Begin Work Experience -->
<div class="card m-2">
  <h2 class="card-header">Experience</h2>
  <ul id="job-list" class="vcalendar list-group list-group-flush">
    <% for job in @resume.works %>
      <li class="experience vevent vcard list-group-item">
        <strong class="org"><%= job.company %></strong>
        <br />
        <a class="include" href="#name"></a>
        <strong class="title"><%= job.position %></strong> 
        <span class="period">(<abbr class="dtstart" title="<%= job.start_date %>"><%= job.start_date %></abbr> - <abbr class="dtend" title="<%= job.end_date %>"><%= job.end_date %></abbr>)</span>
        
        <div class="description"><%= job.summary %></div>
        <ul class="achievements">
          <% for a in job.highlights %>
            <li><%= a.description %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<div class="card m-2">
  <h2 class="card-header">Volunteer Experience</h2>
  <ul id="job-list" class="vcalendar list-group list-group-flush">
    <% for job in @resume.volunteers %>
      <li class="experience vevent vcard list-group-item">
        <strong class="org"><%= job.organization %></strong>
        <br />
        <a class="include" href="#name"></a>
        <strong class="title"><%= job.position %></strong> 
        <span class="period">(<abbr class="dtstart" title="<%= job.start_date %>"><%= job.start_date %></abbr> - <abbr class="dtend" title="<%= job.end_date %>"><%= job.end_date %></abbr>)</span>
        
        <div class="description"><%= job.summary %></div>
        <ul class="achievements">
          <% for a in job.highlights %>
            <li><%= a.description %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
<!-- End Work Experience -->

<!-- Begin Education -->
<div class="card m-2">
  <h2 class="card-header">Education</h2>
  <ul id="edu-list" class="vcalendar list-group list-group-flush">
    <% for edu in @resume.educations %>
      <li class="education vevent vcard list-group-item">
        <span class="period"><abbr class="dtstart" title="<%= edu.start_date %>"><%= edu.start_date %></abbr> - <abbr class="dtend" title="<%= edu.end_date %>"><%= edu.end_date %></abbr></span> - 
        <span class="org"><%= edu.institution %></span>
      </li>
    <% end %>
  </ul>
</div>
<!-- End Education -->