<p id="notice"><%= notice %></p>

<h1>Highlights</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Description</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @highlights.each do |highlight| %>
      <tr>
        <td><%= highlight.job_id %></td>
        <td><%= highlight.description %></td>
        <td><%= highlight.order %></td>
        <td><%= link_to 'Show', highlight %></td>
        <td><%= link_to 'Edit', edit_highlight_path(highlight) %></td>
        <td><%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Highlight', new_highlight_path %>
