<!DOCTYPE html>
<html>
  <head>
    <title>TSBarnes.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="ocs-site-verification" content="319992a6c489d1c2c50af7a93de20f3e">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= analytics_init if GoogleAnalytics.valid_tracker? %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'server_rendering', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="<%= root_path %>">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= resume_path %>">Resume</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= projects_path %>">Projects</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= services_path %>">Services</a></li>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
