<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TSBarnes.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="ocs-site-verification" content="319992a6c489d1c2c50af7a93de20f3e">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= analytics_init if GoogleAnalytics.valid_tracker? %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'server_rendering', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BZC72L"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="<%= root_path %>">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= resume_path %>">Resume</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= projects_path %>">Projects</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= services_path %>">Services</a></li>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <script>
        document.addEventListener("turbolinks:load", function() {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5BZC72L');
        console.log("GTM fired"); })
    </script>
  </body>
</html>
